.CurrentWeather {
  color: #ffffff;
}

h1 {
  font-family: "Dancing script", cursive;
  font-size: 2.5em;
}

.card {
  background: #b2594c;
  border: 3px solid #3a1e15;
  width: 90%;
  margin: 0 auto;
  padding: 30px 50px 10px;
  box-shadow: 5px 5px 10px #000000;
}

.card-header {
  background: #b2594c;
  text-align: left;
}

.card-body {
  margin: 0 20px 0 0;
}

.search-interaction {
  text-align: right;
}

.search .search-form {
  display: inline;
}

.search .button {
  background: #c3c4cd;
  border: 1px solid #3a1e15;
  color: #3a1e15;
  font-size: 1.1em;
  margin: 2px;
  transition: 200ms ease-in-out;
}

.search .button:hover {
  background: #3a1e15;
  border: 1px solid #b2594c;
  color: #ffffff;
}

.search .change-city-text {
  border: 1px solid #3a1e15;
  font-size: 1.1em;
  margin: 2px;
  padding: 5px;
}

.current-weather-image {
  display: inline;
  color: #c3c4cd;
  width: 10em;
}

.date-time {
  text-align: left;
  margin-top: 40px;
  font-size: 1.2em;
}

.city {
  text-align: left;
}

.city .city-name {
  font-family: "Dancing Script", cursive;
  font-size: 3.5em;
}

.temperature {
  font-size: 1.2em;
}

.temperature .temp-value {
  font-size: 8em;
  font-weight: 600;
  line-height: 0.5;
}

.weather-details {
  text-align: right;
  line-height: 2em;
  padding-right: 40px;
}

.weather-details .current-description {
  font-family: "Dancing Script", cursive;
  font-size: 1.8em;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 10px;
}

.weather-details {
  margin-top: 25px;
}

hr {
  color: #3a1e15;
}

@media (max-width: 992px) {
  .city .city-name {
    font-size: 2em;
  }
  .temperature .temp-value {
    font-size: 4em;
  }
  .current-weather-image {
    display: block;
    max-width: 20px;
  }
  h1, 
  .card-header,
  .search-interaction,
  .date-time,
  .city,
  .weather-details
  {
    text-align: center;
  }
}
