.Forecast {
  text-align: center;
  margin-top: 30px;
}

.forecast-icon .current-weather-image {
  width: 6em;
}

.forecast-temperature span {
  font-size: 20px;
}

@media (max-width: 992px) {
  div.forecast-day {
    margin-top: 20px;
  }
}